---
---

@import "{{ site.theme }}";
h1 {
font-size: 50 px;
}
.responsive {
  width: 100%;
  height: auto;
}
body {
  background-color: #ffffff;
   line-height: 1.3em;
}

#img {
    padding-left:55pt;
    margin-left:55pt;
}

h4, h5 {
font-size: 1.1em;
  font-weight:bold;
  padding-bottom: 0em;
     margin-top:0pt;
}
p {
padding-bottom: 0 em;
}

blockquote {
	background:		#f9f9f9;
	border-left:	10px solid #ccc;
	margin:			1.5em 10px;
	padding:		0em 10px;
}
blockquote:before {
	color:			#ccc;
	content:		open-quote;
	font-size:		4em;
	line-height:	.1em;
	margin-right:	.25em;
	vertical-align:	-.4em;
}
blockquote p {
	display:		inline;
}
