---
---

@import "{{ site.theme }}";
h1 {
font-size: 50 px;
}
.responsive {
  width: 100%;
  height: auto;
}
body {
  background-color: #ffffff;
   line-height: 1.3em;
}

img {
    padding-left:55pt;
    margin-left:55pt;
}

h5 {
font-size: 21 px;
}
