---
---

@import "{{ site.theme }}";
h1 {
font-size: 50 px;
}
.responsive {
  width: 100%;
  height: auto;
}
body {
  background-color: #ffffff;
   line-height: 0.5em;
}

h2, h3, h4 {
  line-height: 0.7em;
}
h5 {
  line-height: 0.5em;
}


